dataset/fft/*
!dataset/fft/.gitkeep

dataset/govdocs/*
!dataset/govdocs/.gitkeep

ckpt/backbone/*
ckpt/fft/*
ckpt/govdocs/*

!ckpt/backbone/.gitkeep
!ckpt/fft/.gitkeep
!ckpt/govdocs/.gitkeep

__pycache__/

models/__pycache__/
